@model VMDCore.Models.ManageDrinkViewModel

@{
    ViewData["Title"] = Model.FormCaption;
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Manage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Model.Drink.DrinkId
            <div class="form-group">
                <label asp-for="Drink.Title" class="control-label"></label>
                <input asp-for="Drink.Title" class="form-control" />
                <span asp-validation-for="Drink.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedImage" class="control-label"></label>
                <input asp-for="UploadedImage" class="form-control" multiple />
                <span asp-validation-for="UploadedImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drink.Price" class="control-label"></label>
                <input asp-for="Drink.Price" class="form-control" />
                <span asp-validation-for="Drink.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Drink.DrinkId" class="form-control" type="hidden" />
                <span asp-validation-for="Drink.DrinkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Drink.ImagesCount" class="form-control" type="hidden" />
                <span asp-validation-for="Drink.ImagesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Drink.Hidden" type="hidden" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section scripts{

}