@model VMDCore.Models.ManageDrinkViewModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="ManageDrink" enctype="multipart/form-data" onsubmit="return jQueryAjaxPostDrink(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Drink.Title" class="control-label"></label>
                <input asp-for="Drink.Title" class="form-control" />
                <span asp-validation-for="Drink.Title" class="text-danger"></span>
            </div>
            @if (Model.ExistsThumbnailFile == true)
            {
                <div id="drink-image-administration">
                    <div>
                        <img src="/images/drinks/@(Model.Drink.DrinkId)_thumb.png" />
                        <a class="btn" onclick="DeleteImageDrink('@Url.Action("DeleteImageDrink","Admin",new {drinkId=Model.Drink.DrinkId})',@Model.Drink.DrinkId)" data-image-index="1">Удалить</a>
                    </div>
                </div>
            }
            <div class="form-group">
                <label asp-for="UploadedImage" class="control-label"></label>
                <input asp-for="UploadedImage" class="form-control" multiple />
                <span asp-validation-for="UploadedImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drink.Price" class="control-label"></label>
                <input asp-for="Drink.Price" class="form-control" />
                <span asp-validation-for="Drink.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drink.Stock" class="control-label"></label>
                <input asp-for="Drink.Stock" class="form-control" />
                <span asp-validation-for="Drink.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Drink.DrinkId" class="form-control" type="hidden" />
                <span asp-validation-for="Drink.DrinkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ExistsThumbnailFile" class="form-control" type="hidden" />
                <span asp-validation-for="ExistsThumbnailFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Drink.Hidden" type="hidden" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Сохранить" class="btn btn-success btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>