@model VMDCore.Models.ManageCoinViewModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="ManageCoin" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this);">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Coin.Value" class="control-label"></label>
                <input asp-for="Coin.Value" class="form-control" />
                <span asp-validation-for="Coin.Value" class="text-danger"></span>
            </div>
            @if (Model.ExistsThumbnailFile == true)
            {
                <div id="coin-image-administration">
                    <div>
                        <img src="/images/coins/@(Model.Coin.Value)_thumb.png" />
                        <a href="#" data-image-index="1"><span class="glyphicon glyphicon-remove" aria-hidden="true">Удалить</span></a>
                    </div>
                </div>
            }
            <div class="form-group">
                <label asp-for="UploadedImage" class="control-label"></label>
                <input asp-for="UploadedImage" class="form-control" multiple />
                <span asp-validation-for="UploadedImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ExistsThumbnailFile" class="form-control" type="hidden" />
                <span asp-validation-for="ExistsThumbnailFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.NumberCoins" class="control-label"></label>
                <input asp-for="Coin.NumberCoins" class="form-control" />
                <span asp-validation-for="Coin.NumberCoins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Coin.isAvailable" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Сохранить" class="btn btn-success btn-block" />
                </div>
                </div>
</form>
    </div>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $("#coin-image-administration a").click(function (e) {
            if (confirm('Вы уверены, что хотите удалить выбранный предварительный просмотр?')) {
          var element = $(this);
                $.post('@Url.Action("DeleteImage")', { coinID: $('#Coin_CoinId').val() }, function (result) {
                    // decrement the product IDs after the removed image
                    var oldUrls = element.parent().nextAll().children("a");
                    for (var i = 0; i < $(oldUrls).length; i++) {
                        var newIndex = $(oldUrls[i]).data('image-index') - 1;
                        $(oldUrls[i]).data('image-index', newIndex);
                    }
                    // remove the image preview
                    element.parent().remove();

                    var ExistsThumbnailFile = $('#ExistsThumbnailFile');
                    ExistsThumbnailFile.val(false);
                });

            }
        });
    });
    </script>
}