@model VMDCore.Data.Models.Coin

<div class="thumbnail">
    <div class="product-image text-center">
        @{ string imagePath = Model.isAvailable == true ? "~/images/coins/" + Model.Value + "_thumb.png" : "~/images/drinks/no_preview.png";}
        <img class="product-image-background" src=@Url.Content(imagePath) alt="@Model.Value рублей">
    </div>
</div>
