@model VMDCore.Data.Models.Coin

<div class="thumbnailCoin">
    @{ string isAvailable = Model.isAvailable == false ? "adisabled" : ""; }
    <a asp-action="AddCoin" asp-controller="Home" asp-route-value="@Model.Value" class="@isAvailable">
        <div class="product-image text-center">
            @{ string imagePath = Model.isAvailable == true ? "~/images/coins/" + Model.Value + "_thumb.png" : "~/images/coins/noAvailable.png";}
            <img class="product-image-background" src=@Url.Content(imagePath) alt="@Model.Value рублей">
        </div>
    </a>
</div>
