@model VMDCore.Models.HomeIndexViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-lg-8 col-md-8">
            <div class="row">
                @foreach (var p in Model.Drinks)
                {
                <div id="partial" class="col-sm-6 col-lg-6 col-md-6">
                  
                    @{await Html.RenderPartialAsync("_DrinkThumbnailPartialView", p);}
                </div>
                }

            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="row">
                @foreach (var p in Model.Coins)
                {
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        @await Html.PartialAsync("_CoinThumbnailPartialView", p)
                    </div>
                }
            </div>
            <div class="product-title">
                <h4 class="text-center">
                   Баланс: @Model.Balance
                   НУ пиздец @ViewBag.addcoin
                </h4>
            </div>
        </div>
    </div>
</div>




