@model VMDCore.Models.HomeIndexViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
            <div class="row">
                @foreach (var p in Model.Drinks)
                {
                    <div id="partial" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        @{await Html.RenderPartialAsync("_DrinkThumbnailPartialView", p);}
                    </div>
                }

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-sm-4 col-lg-4 col-md-4">
            <div class="instruction">
                <h4 class="text-center">
                    Инструкция:
                </h4>
                <ol>
                    <li>
                        Пополните баланс (кликами по картинкам с номиналами монет 1, 2, 5, 10 рублей) до значения,
                        достаточного для покупки определенного напитка.
                    </li>
                    <li>
                        Кликните на желаемый напиток, заберите напиток.
                    </li>
                    <li>
                        Заберите сдачу нажатием на кнопку "Забрать сдачу". Сдача будет выдана только в том случае, если
                        в автомате есть достаточное количество монет необходимого номинала (сдача может быть выдана не в полном объеме).
                    </li>
                </ol>
            </div>
            <div class="row">
                @foreach (var p in Model.Coins)
                {
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        @await Html.PartialAsync("_CoinThumbnailPartialView", p)
                    </div>
                }
            </div>
            <div class="product-title">
                <h4 class="text-center">
                    Баланс: @Model.Operation.Balance
                </h4>
            </div>
            <div class="product-title">
                <h4 class="text-center">
                    @Html.ActionLink("Забрать сдачу", "GetChange", "Home")
                </h4>
            </div>          
            <div class="product-title">
                <h4 class="text-center">
                    Выдана сдача: @Model.Operation.Message
                </h4>
            </div>            
        </div>
    </div>
</div>




